.card-btns-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 1rem 0 0 0;
}

.card-btn {
  border: none;
  background: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.bookmarked {
  color: cadetblue;
}